h2 {
    text-align: center;
    color: brown;
}

.task {
    background-color: darkgray;
    border: darkslateblue solid 6px;
}

.wrapperApp {
    display: flex;
}

.users-box {
    background-color: #8397a2;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 20px;
    font-size: 0.7em;
}

.users-box>h2 {
    font-size: 26px;
}

.posts-box {
    background-color: #8d9d79;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

.posts-box h3 {
    text-align: center;
}

img {
    width: 50px;
}
