.center {
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.no-decoration {
    text-decoration: none;
    color: #333; /* Основний колір для посилання */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Анімація для плавних змін */
}

.no-decoration h2:hover {
    text-decoration: none;
    color: #982020; /* Колір при наведенні */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Додавання тіні при наведенні */
}

.no-decoration h2:active {
    text-decoration: none;
    color: #5c9a89; /* Колір при натисканні */
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Додавання тіні при натисканні */
}

.content {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: calc(100vh - 160px); /* Припускаючи, що ваш хедер і футер мають загальну висоту 160px */
    box-sizing: border-box;
}